body
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: px;
}
.ticket{
    border: 2px solid black;
    height: 40px;
    width: 120px;
    border-radius: 15%;
    margin-bottom: 15px;
    text-align: center;
}